.container {
  text-align: center;
}

.popup-container {
  text-align: center;
  width: 200px;
  height: 100px;
  border-radius: 5px;
}

.popup-container button  {
  margin: 20px 0;
}

.search-bar {
}

.all-highlights-link {

}

.highlights-index {
  margin-top: 20px;
}

.highlight-title {
  text-decoration: underline;
}

.trash {
  cursor: pointer;
  opacity: 0.5;
}

.trash {
  opacity: 1;
}

.highlighted-text {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
}
