.container {
  text-align: center;
  margin-top: 10px;
}

.page-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.wrapper {
  margin-top: 30px;
}

.popup-container {
  text-align: center;
  width: 200px;
  height: 100px;
  border-radius: 5px;
}

.popup-container button  {
  margin: 20px 0;
}

.side-menu {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.side-menu-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.tags-header-title {
  margin-left: 1em;
}

.tag-item {
  border-top: 1px solid #eee;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.tag-item:hover {
  background-color: #eee;
}

.highlights-index {
  margin-top: 20px;
}

.highlight-title {
  text-decoration: underline;
}

.highlight-index-tag-item:not(:first-child) {
  border-top: 1px solid #eee;
}

.highlight-index-tag-item {
  padding: 3px;
  text-align: center;
  cursor: pointer;
}

.highlight-index-tag-item:hover {
  background-color: #eee;
}

.highlights-index i {
  cursor: pointer;
  opacity: 0.5;
}

.highlights-index i:hover {
  opacity: 1;
}

.highlighted-text {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
}

.list-group-header {
  padding-bottom: 10px;
}
