.container {
  text-align: center;
  margin-top: 10px;
}

.page-header {
  border-bottom: 1px solid #eee;
}

.wrapper {
  margin-top: 30px;
}

.popup-container {
  text-align: center;
  width: 200px;
  height: 100px;
  border-radius: 5px;
}

.popup-container button  {
  margin: 20px 0;
}

.side-menu {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.tag-index-item {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  margin-top: 2px;
  cursor: pointer;
}

.all-highlights-link {

}

.highlights-index {
  margin-top: 20px;
}

.highlight-title {
  text-decoration: underline;
}

.highlights-index i {
  cursor: pointer;
  opacity: 0.5;
}

.highlights-index i:hover {
  opacity: 1;
}

.highlighted-text {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
}
